In [1]:
#importing modules and loading the dataset
import pandas as pd
import numpy as np
import pickle
dataset = pd.read_csv('Boston.csv')
dataset.drop(dataset.columns[dataset.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [2]:
#seperating target variable from feature sets
x = pd.DataFrame(dataset.iloc[:,:-1])
y = pd.DataFrame(dataset.iloc[:,-1])

In [3]:
#splitting the data into test and train datasets in 1:4 ratio
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=5)

In [4]:
#examining the train and test data sets
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(404, 13)
(404, 1)
(102, 13)
(102, 1)

In [5]:
#Training the model
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [6]:
filename = 'houseprice_model.sav'
pickle.dump(regressor,open(filename,'wb'))

In [7]:
x_train.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
33,1.15172,0.0,8.14,0,0.538,5.701,95.0,3.7872,4,307,21.0,358.77,18.35
283,0.01501,90.0,1.21,1,0.401,7.923,24.8,5.8850,1,198,13.6,395.52,3.16
418,73.53410,0.0,18.10,0,0.679,5.957,100.0,1.8026,24,666,20.2,16.45,20.62
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
402,9.59571,0.0,18.10,0,0.693,6.404,100.0,1.6390,24,666,20.2,376.11,20.31

In [8]:
x_test.head(1).shape

(1, 13)

In [9]:
#Examining the coefficients of different attributes
v = pd.DataFrame(regressor.coef_,index=["Coefficient"]).transpose()
w = pd.DataFrame(x_train.columns,columns=["Attributes"])
weight_dataframe = pd.concat([w,v],axis=1)
weight_dataframe

   Attributes  Coefficient
0        crim    -0.130800
1          zn     0.049403
2       indus     0.001095
3        chas     2.705366
4         nox   -15.957050
5          rm     3.413973
6         age     0.001119
7         dis    -1.493081
8         rad     0.364422
9         tax    -0.013172
10    ptratio    -0.952370
11      black     0.011749
12      lstat    -0.594076

In [10]:
#Using the test data to evaluate the trained model
y_pred = regressor.predict(x_test)
y_pred_df = pd.DataFrame(y_pred,columns=["prediction"])
y_test_values = pd.DataFrame(y_test.iloc[:,-1])
comparision_df = pd.concat([y_pred_df,y_test.reset_index(drop=True)],axis=1)
#comparision_df
y_pred.shape

(102, 1)

In [11]:
#Calculating different types of accuracy
from sklearn import metrics
print("Mean Absolute Error is",metrics.mean_absolute_error(y_pred,y_test))
print("Mean Squared Error is",metrics.mean_squared_error(y_pred,y_test))
print("Root Mean Square Error is",np.sqrt(metrics.mean_squared_error(y_pred,y_test)))

Mean Absolute Error is 3.2132704958423584
Mean Squared Error is 20.869292183770455
Root Mean Square Error is 4.5682920423031685